/**
* Site sidebar
*/
.site-sidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 220px;
  overflow: scroll;
  border-right: 1px solid #EBEEF0;
  background-color: #F7F7F7;

  .logo {
    display: block;
    height: 46px;
    margin: 0;
    padding: 10px 15px;
    border-bottom: 1px solid #EBEEF0;
    text-transform: uppercase;
    color: #E0CB1B;
    font-size: 20px;
    font-weight: 100;
    cursor: pointer;
    @extend %clearfix;

    &:hover {
      text-decoration: none;
      opacity: 0.7;
    }

    > span {
      color: black;
      font-weight: bold;
    }
  }

  .github {
    padding: 20px 20px 0 20px;

    > a {
      vertical-align: bottom;
      font-size: 14px;
    }
  }

  > nav {
    padding: 0 20px 20px 20px;

    .nav-heading {
      margin: 0;
      padding: 20px 0 5px 0;
      text-transform: uppercase;
      font-size: 12px;
      color: #939DA3;
    }

    .nav-items {
      margin: 0;
      list-style: none;

      > li {
        &.selected > a {
          color: #0099E5;

          &:hover {
            text-decoration: none;
          }
        }

        > a {
          padding: 5px 0;
          font-size: 14px;
          color: black;
        }
      }
    }
  }
}

/**
* Code background
*/
.background {
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 221px;

  .actual {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 45%;
    background-color: #2D3134;
  }
}



/**
* Site footer
*/
.site-footer {
  width: 45%;
  padding: 40px;
  background-color: $background-color;
  border-top: 1px solid $grey-color-light;
}

.footer-heading {
  font-size: 18px;
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  font-size: 15px;
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
* Page content
*/
.page-content {
  z-index: 50;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 221px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  font-size: 24px;
}



/**
* Posts
*/
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.post-content {
  @extend %clearfix;
  margin-bottom: $spacing-unit;

  .sample-area {
    overflow: auto;

    .copy {
      width: 45%;
      float: left;
      padding: 50px 40px 20px 40px;

      p {
        font-size: 15px;
      }
    }

    .code {
      margin-left: 45%;
      padding-top: 20px;
      background-color: #2D3134;

      .highlight {
        padding: 20px 40px;
        background-color: #272B2D;

        pre {
          margin: 0;
        }

        pre, code {
          border: none;
          background-color: #272B2D;
        }
      }
    }

    &:first-child .code {
      padding-top: 70px;
    }
  }

  h2 {
    font-size: 32px;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}
